* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* horizontal bar styling */
.introduction-screen {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: rebeccapurple;
    padding: 20px;
    text-align: left;
}

.end-screen {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: rebeccapurple;
    padding: 20px;
    text-align: left;
}

.farm-screen {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: rebeccapurple;
    padding: 20px;
    text-align: left;
}

.forest-room {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: rebeccapurple;
    padding: 20px;
    text-align: left;
}

.game-over-screen {
    background-image: linear-gradient(to right, red, black, red);
    color: red;
    padding: 20px;
    text-align: center;
}

/* width of text fix */
.introduction-screen>p {
    width: 50%;
}

.end-screen>p {
    width: 50%;
}

.farm-screen>p {
    width: 50%;
}

.game-over-screen>p {
    width: 50%;
    padding-left: 450px;
}

/* button styling */
.start-game-btn {
    padding: 10px 20px;
    background-color: lightblue;
    color: rebeccapurple;
    border: none;
    cursor: pointer;
}

.open-gate-button {
    padding: 10px 20px;
    background-color: lightblue;
    color: rebeccapurple;
    border: none;
    cursor: pointer;
}

.level2-start-btn {
    padding: 10px 20px;
    background-color: lightblue;
    color: rebeccapurple;
    border: none;
    cursor: pointer;
}

.restart-game-btn {
    padding: 10px 20px;
    background-color: lightblue;
    color: rebeccapurple;
    border: none;
    cursor: pointer;
}

.start-over-btn {
    padding: 10px 20px;
    background-color: red;
    color: black;
    border: none;
    cursor: pointer;
}

.morse-instruction-btn {
    padding: 10px 20px;
    background-color: lightblue;
    color: rebeccapurple;
    border: none;
    cursor: pointer;
}

/* het stylen van mijn harten naar het juist formaat, en een border om de harten */
.image-hearts {
    position: absolute;
    top: 0;
    right: 0;
}

.heart-image-1 {
    width: 100px;
    height: 100px;
    border: 2px solid red;
}

.heart-image-2 {
    width: 100px;
    height: 100px;
    border: 2px solid red;
}

.heart-image-3 {
    width: 100px;
    height: 100px;
    border: 2px solid red;
}

/* display-bg-begin */
.display {
    display: grid;
    grid-template-columns: 100% 1fr;
    height: 77vh;
    overflow: hidden;
    position: relative;
}

.bg {
    background-image: url(/image/begin-screen.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

/* display-bg-end */
.display-end {
    display: grid;
    grid-template-columns: 100% 1fr;
    height: 68vh;
    overflow: hidden;
    position: relative;
}

.bg-end {
    background-image: url(/image/End-screen.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

/* display-bg-game-over */
.display-game-over {
    display: grid;
    grid-template-columns: 100% 1fr;
    height: 82vh;
    overflow: hidden;
    position: relative;
}

.bg-game-over {
    background-image: url(/image/game-over.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

/* display-bg-level 1 */
.display-level-1 {
    display: grid;
    grid-template-columns: 100% 1fr;
    height: 79vh;
    overflow: hidden;
    position: relative;
}

.bg-level-1 {
    background-image: url(/image/level-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    position: relative;
}

/* display-bg level 2 */
.display-level-2 {
    display: grid;
    grid-template-columns: 100% 1fr;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bg-level-2 {
    background-image: url(/image/Level\ 2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

/* positioneren van mijn instructie knop */
.bg-level-1>.morse-instruction-btn {
    position: absolute;
    bottom: 10px;
    left: 47%;
}

/* morse-code */
.morse-code {
    background-color: white;
    color: black;
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 37%;
    font-size: xx-large;
}

.morse-decoder {
    width: 220px;
    position: fixed;
    top: 33%;
    right: 0;
}

/* level 3 */
.bodylevel3{
  background-image: url("/Image/Level3.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.textlevel3{
  font-size: 24px;
  width: 80%;
}

.level3-text{
  margin: 20px;
  text-align: justify;
  color: white;
  font-size: 30px;
  width: 100%;
}

.container {
  width: 20%;
  margin: 0px auto;
  text-align: center;
  background-color: #4CAF50;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1-level3{
  margin-bottom: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}
.lola{
  background-image: url("/Image/lola.png");
  width: 95%;
}
.h2-level3{
  color: white;
}

/* level 4 */
.title-level-4 {
    text-align: center;
    color: rgb(255, 0, 0);
}

.explanation-of-the-game {
    text-align: center;
    color: red;
}

.body-level-4{
    background-image: url("/image/afbeelding2.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 5%;
}


.answer-input-level-4 {
    text-align: center;
    margin-top: 10%;
}

.check-answer-level-4 {
        display: inline-block;
        padding: 2px 15px; 
        background-color: #000000; 
        color: red;
        border-radius: 100px;
} 

.target-page-level-4{
    display: inline-block;
    padding: 10px 20px; 
    background-color: #000000; 
    color: red;
    border-radius: 100px;
}

.doel-pagina:disabled{
    opacity: 0.4;
}

.explanation-page-level-4 {
    display: inline-block;
    padding: 9px 20px; 
    background-color: #000000; 
    color: red;
    border-radius: 100px;
}

.p-level-4 {
    color: red;
}

.answer-status-level-4 {
    color: red;
}

